<div class="content" role="main">
    <h2>Products</h2>
    <ul>
        <li *ngFor="let item of items; let i = index">

            <p>{{item}} : {{prices[i]}} Ft</p>
            <p> In Stock: {{quantities[i]}} </p>
            <p><label>Quantity</label>
                <input type="number" [(ngModel)]="quantity" min="0"><button
                    (click)="restock(item, this.quantity)">Restock</button>
            </p>
            <p><label>New price</label>
                <input type="number" [(ngModel)]="price" min="0"><button
                    (click)="reprice(item, this.price)">Set price</button>
            </p>

        </li>
    </ul>
    <button [routerLink]="['/welcome']" style="width : 25%">Back</button>
</div>